@import '../../index.scss';

.editor-page {
    width: 1200px;
    margin: auto;
    margin-top: 80px;
    padding-bottom: 50px;

    .story-title {
        margin-bottom: 20px;
        border: none;
        font-size: 2rem;
        outline: none;
        font-family: 'Playfair Display', serif;
        width: 100%;
    }

    .header-image {
        height: 250px;
        width: 100%;
        border: 7px;
        position: relative;

        img {
            border-radius: 7px;
            width: 100%;
            height: 100%;
            object-fit: cover;
            user-select: none;
            -webkit-user-drag: none;
        }

        svg {
            position: absolute;
            fill: white;
            top: 15px;
            right: 15px;
            cursor: pointer;
        }
    }

    .header-image-placeholder {
        height: 250px;
        border: 1px dashed gray;
        border-radius: 7px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        p {
            font-size: 1.3rem;
            color: gray;
            user-select: none;
        }
    }

    .error-message {
        color: $red-dark;
        font-weight: 700;
    }

    .topic-label {
        font-weight: 600;
    }

    select {
        margin-top: 20px;
        outline: none;
        border-radius: 7px;
        margin-left: 10px;
        padding: 0.4rem 1rem;
    }

    .Wysiwyg {
        margin-top: 70px;

        .editor-controls {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;

            .draft-btn {
                font-weight: 700;
                padding: 0.5rem 0rem;
                cursor: pointer;
                outline: none;
                background-color: transparent;
                border: 1px solid black;
                padding: 0.5rem 2rem;
                border-radius: 7px;
            }

            .publish-btn {
                @extend .draft-btn;
                border: none;
                background: linear-gradient(
                    90deg,
                    $yellow-primary 0%,
                    $red-primary 100%
                );
            }
        }
    }

    @media screen and(max-width: $med-large) {
        width: 90%;
    }
}

.editor-page-dark {
    .story-title {
        background-color: $blue-dark;
        color: white;
    }

    .draft-btn {
        border-color: $dark-font !important;
        color: $dark-font;
    }
}
