@import '../../index.scss';

.loading-animation {
    margin-top: 30vh;
}

.reader-container {
    width: 1200px;
    margin: auto;
    margin-top: 40px;
    position: relative;
    overflow-x: hidden;

    .blog-container {
        width: 100%;
        position: relative;
        margin-top: 80px;

        .reader-blog-container {
            width: 60%;
            margin: auto;
            min-height: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid lightgray;
            position: relative;

            .blog-title {
                font-family: 'Playfair Display', serif;
                font-size: 2.5rem;
                font-weight: 700;
                line-height: 1em;
                margin-bottom: 15px;
            }

            .user-info {
                display: flex;
                align-items: center;

                .user-profile-picture {
                    width: 30px;
                    height: 30px;
                    margin-right: 10px;

                    img {
                        height: 100%;
                        width: 100%;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                }

                .user-name {
                    font-weight: bold;
                }

                .follow-btn {
                    padding: 0;
                    background-color: transparent;
                    border: none;
                    margin-left: 30px;
                    font-weight: bold;
                    color: $green-secondary;
                    cursor: pointer;
                }
            }

            .blog-info {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .blog-date {
                    font-weight: bold;
                }

                .blog-icons {
                    span {
                        margin-right: 15px;
                    }

                    svg {
                        transform: scale(0.8) translateY(7px);
                        cursor: pointer;
                        transition: 0.2s ease-in-out;

                        &:active {
                            transform: scale(0.7) translateY(7px);
                        }
                    }

                    .filled-heart {
                        svg {
                            fill: $red-dark;
                        }
                    }
                }
            }

            .blog-header {
                margin-top: 20px;
                margin-bottom: 20px;
                width: 100%;
                height: 300px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 7px;
                }
            }

            // class defined inside quill module
            .ql-container {
                font-size: 1.1rem;
            }
        }
    }
}

.reader-container-dark {
    svg {
        fill: $dark-font;
    }

    .reader-user-container {
        .follow-btn {
            color: $dark-font;
            border-color: $dark-font !important;
        }
    }
}
