body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Source Sans Pro';
}

body .App {
  position: relative;
  min-height: 100vh;
}

body .App-dark {
  background-color: #151f2e;
  color: #becfe2;
}

.loading-animation {
  margin-top: 30vh;
}

.reader-container {
  width: 1200px;
  margin: auto;
  margin-top: 40px;
  position: relative;
  overflow-x: hidden;
}

.reader-container .blog-container {
  width: 100%;
  position: relative;
  margin-top: 80px;
}

.reader-container .blog-container .reader-user-container {
  position: absolute;
  left: 0px;
  width: 20%;
  min-height: 20px;
}

.reader-container .blog-container .reader-user-container .user-name {
  font-weight: bold;
  margin-bottom: 10px;
}

.reader-container .blog-container .reader-user-container .user-interest {
  display: inline-block;
  margin-bottom: 10px;
}

.reader-container .blog-container .reader-user-container button {
  background-color: transparent;
  border: 1px solid black;
  border-radius: 7px;
  padding: 0.5rem;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

.reader-container .blog-container .reader-blog-container {
  width: 60%;
  margin: auto;
  min-height: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid lightgray;
}

.reader-container .blog-container .reader-blog-container .blog-title {
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1em;
  margin-bottom: 15px;
}

.reader-container .blog-container .reader-blog-container .blog-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reader-container .blog-container .reader-blog-container .blog-info .blog-date {
  font-weight: bold;
}

.reader-container .blog-container .reader-blog-container .blog-info .blog-icons span {
  margin-right: 15px;
}

.reader-container .blog-container .reader-blog-container .blog-info .blog-icons svg {
  -webkit-transform: scale(0.8) translateY(7px);
          transform: scale(0.8) translateY(7px);
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.reader-container .blog-container .reader-blog-container .blog-info .blog-icons svg:active {
  -webkit-transform: scale(0.7) translateY(7px);
          transform: scale(0.7) translateY(7px);
}

.reader-container .blog-container .reader-blog-container .blog-info .blog-icons .filled-heart svg {
  fill: #dd3b40;
}

.reader-container .blog-container .reader-blog-container .blog-header {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: 300px;
}

.reader-container .blog-container .reader-blog-container .blog-header img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 7px;
}

.reader-container .blog-container .reader-blog-container .ql-container {
  font-size: 1.1rem;
}

.reader-container-dark svg {
  fill: #becfe2;
}

.reader-container-dark .reader-user-container .follow-btn {
  color: #becfe2;
  border-color: #becfe2 !important;
}
/*# sourceMappingURL=reader.css.map */