@import '../../../index.scss';

.about-settings {
    .setting-section {
        padding-bottom: 40px;
        margin-bottom: 40px;
        border-bottom: 1px solid #c4c4c4;

        &:last-child {
            border-bottom: none;
            padding-bottom: 0px;
            margin-bottom: 0px;
        }

        .section-title {
            text-transform: uppercase;
            padding-bottom: 10px;
            padding-top: 10px;

            &:first-child {
                padding-top: 0px;
            }
        }

        .github-link {
            font-weight: bold;
            margin-top: -10px;

            svg {
                transform: translateY(5px);
            }
        }

        .tech-icons {
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            span {
                margin-top: 20px;
                svg {
                    margin-right: 40px;
                    height: 40px;
                    width: auto;
                    filter: grayscale(100%);
                    transition: 0.1s;

                    &:hover {
                        filter: grayscale(0%);
                    }
                }
            }
        }
    }
}
