body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Source Sans Pro';
}

body .App {
  position: relative;
  min-height: 100vh;
}

body .App-dark {
  background-color: #151f2e;
  color: #becfe2;
}

.landing {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
  background-color: white;
  color: black;
}

.landing .image-section {
  -webkit-box-flex: 50%;
      -ms-flex: 50% 3 3;
          flex: 50% 3 3;
  height: 100%;
  background-color: #4a6163;
  position: relative;
  overflow: hidden;
}

.landing .image-section .logo-gradient {
  font-family: 'Playfair Display';
  margin-left: 160px;
  font-size: 1.3rem;
  background: -webkit-gradient(linear, left top, right top, from(#ffc94b), to(#f17a7e));
  background: linear-gradient(90deg, #ffc94b 0%, #f17a7e 100%);
  display: inline-block;
  background-clip: text;
  color: transparent;
}

.landing .image-section .typewriter {
  position: absolute;
  -webkit-transform: rotate(31deg);
          transform: rotate(31deg);
  margin: auto;
  left: -100px;
  bottom: -100px;
  text-align: center;
}

.landing .image-section .swiggle {
  position: absolute;
}

.landing .image-section .yellow-swiggle {
  top: -350px;
  right: -450px;
  height: 50%;
}

.landing .image-section .red-swiggle {
  top: 40vh;
  width: 100%;
  right: 0;
}

.landing .image-section .white-swiggle {
  bottom: -300px;
  right: -50px;
}

@media screen and (max-width: 700px) {
  .landing .image-section {
    display: none;
  }
}

.landing .login-section {
  -webkit-box-flex: 50%;
      -ms-flex: 50% 1 1;
          flex: 50% 1 1;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding: 0rem 4rem;
}

.landing .login-section .form-swiggle {
  position: absolute;
  top: -250px;
  right: -50px;
  width: 40%;
}

.landing .login-section .form-container {
  width: 580px;
}

.landing .login-section .form-container .form-logo {
  font-family: 'Playfair Display', serif;
  font-weight: 800;
  font-size: 1.1rem;
}

.landing .login-section .form-container .form-title {
  margin-top: 5px;
  font-size: 3rem;
  margin-bottom: 120px;
}

.landing .login-section .form-container form input {
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 35px;
  outline: none;
  padding: 10px 20px;
  font-size: 1.05rem;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.landing .login-section .form-container form input:focus {
  border-bottom: 3px solid black;
}

.landing .login-section .form-container form .sign-in-btn {
  border: none;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 700;
  width: 100%;
  padding: 1rem 0rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#ffc94b), to(#f17a7e));
  background-image: linear-gradient(90deg, #ffc94b 0%, #f17a7e 100%);
  cursor: pointer;
  border-radius: 7px;
}

.landing .login-section .form-container form .register-link {
  font-weight: 700;
  text-decoration: underline;
  cursor: pointer;
  font-size: 0.9rem;
  margin-top: 20px;
}

.landing .login-section .form-container form .error-message {
  font-weight: 700;
  color: #dd3b40;
}

@media screen and (max-width: 700px) {
  .landing .login-section .form-container {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .landing .login-section {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
/*# sourceMappingURL=landing.css.map */