@import '../../index.scss';

.landing {
    height: 100vh;
    width: 100%;
    display: flex;
    position: relative;
    overflow: hidden;
    background-color: white;
    color: black;

    .image-section {
        flex: 50% 3 3;
        height: 100%;
        background-color: $green-primary;
        position: relative;
        overflow: hidden;

        .logo-gradient {
            font-family: 'Playfair Display';
            margin-left: 160px;
            font-size: 1.3rem;
            background: linear-gradient(90deg, #ffc94b 0%, #f17a7e 100%);
            display: inline-block;
            background-clip: text;
            color: transparent;
        }

        .typewriter {
            position: absolute;
            transform: rotate(31deg);
            margin: auto;
            left: -100px;
            bottom: -100px;
            text-align: center;
        }

        .swiggle {
            position: absolute;
        }

        .yellow-swiggle {
            top: -350px;
            right: -450px;
            height: 50%;
        }

        .red-swiggle {
            top: 40vh;
            width: 100%;
            right: 0;
        }

        .white-swiggle {
            bottom: -300px;
            right: -50px;
        }

        @media screen and (max-width: $small) {
            display: none;
        }
    }

    .login-section {
        flex: 50% 1 1;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        padding: 0rem 4rem;

        .form-swiggle {
            position: absolute;
            top: -250px;
            right: -50px;
            width: 40%;
        }

        .form-container {
            width: 580px;

            .form-logo {
                font-family: 'Playfair Display', serif;
                font-weight: 800;
                font-size: 1.1rem;
            }

            .form-title {
                margin-top: 5px;
                font-size: 3rem;
                margin-bottom: 120px;
            }

            form {
                input {
                    width: 100%;
                    border: none;
                    border-bottom: 1px solid black;
                    margin-bottom: 35px;
                    outline: none;
                    padding: 10px 20px;
                    font-size: 1.05rem;
                    transition: 0.2s ease-in-out;
                    box-sizing: border-box;

                    &:focus {
                        border-bottom: 3px solid black;
                    }
                }

                .sign-in-btn {
                    border: none;
                    margin-top: 20px;
                    margin-bottom: 10px;
                    font-weight: 700;
                    width: 100%;
                    padding: 1rem 0rem;
                    background-image: linear-gradient(
                        90deg,
                        $yellow-primary 0%,
                        $red-primary 100%
                    );
                    cursor: pointer;
                    border-radius: 7px;
                }

                .register-link {
                    font-weight: 700;
                    text-decoration: underline;
                    cursor: pointer;
                    font-size: 0.9rem;
                    margin-top: 20px;
                }

                .error-message {
                    font-weight: 700;
                    color: $red-dark;
                }
            }

            @media screen and (max-width: $small) {
                width: 100%;
            }
        }

        @media screen and (max-width: $small) {
            flex-basis: 100%;
        }
    }
}
