@import '../../../index.scss';
@import '../Profile/profileSettings.scss';

.account-setting {
    @extend .profile-settings;

    .setting-section {
        form {
            #email-input {
                margin-bottom: 0px;
            }
        }

        .danger-title {
            color: $red-dark;
            font-weight: 700;
        }

        .delete-btn {
            @extend .save-btn;
            background: $red-dark !important;
            color: white;
            margin-top: -15px;
        }
    }

    .error-message {
        color: $red-dark;
        font-weight: 700;
        margin-top: -10px;
    }
}

.account-setting-dark {
    .setting-section {
        border-bottom: 1px solid $blue-light !important;
    }

    form {
        input,
        textarea {
            background-color: $blue-light !important;
            color: white;

            &::placeholder {
                color: lightgray;
            }
        }
    }
}
