body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Source Sans Pro';
}

body .App {
  position: relative;
  min-height: 100vh;
}

body .App-dark {
  background-color: #151f2e;
  color: #becfe2;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Source Sans Pro';
}

body .App {
  position: relative;
  min-height: 100vh;
}

body .App-dark {
  background-color: #151f2e;
  color: #becfe2;
}

.profile-settings .setting-section, .account-setting .setting-section {
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #c4c4c4;
}

.profile-settings .setting-section:last-child, .account-setting .setting-section:last-child {
  border-bottom: none;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.profile-settings .setting-section .section-title, .account-setting .setting-section .section-title {
  text-transform: uppercase;
  padding-bottom: 10px;
  padding-top: 10px;
}

.profile-settings .setting-section .section-title:first-child, .account-setting .setting-section .section-title:first-child {
  padding-top: 0px;
}

.profile-settings .setting-section .section-description, .account-setting .setting-section .section-description {
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-settings .setting-section .themes, .account-setting .setting-section .themes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profile-settings .setting-section .themes .theme, .account-setting .setting-section .themes .theme {
  padding: 0.8rem 2rem;
  margin-right: 20px;
  border: 1px solid black;
  border-radius: 7px;
  font-weight: 600;
  cursor: pointer;
}

.profile-settings .setting-section .themes .dark-theme, .account-setting .setting-section .themes .dark-theme {
  color: white;
  background-color: #151f2e;
  border: 1px solid #151f2e;
}

.profile-settings .setting-section .themes .high-contrast, .account-setting .setting-section .themes .high-contrast {
  color: white;
  background-color: black;
  border: 1px solid black;
}

.profile-settings .setting-section .profile-pictures, .account-setting .setting-section .profile-pictures, .profile-settings .setting-section .header-images, .account-setting .setting-section .header-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.profile-settings .setting-section .profile-pictures div, .account-setting .setting-section .profile-pictures div, .profile-settings .setting-section .header-images div, .account-setting .setting-section .header-images div {
  height: 85px;
  width: 85px;
  background-color: teal;
  margin-right: 30px;
  border-radius: 7px;
}

.profile-settings .setting-section .profile-pictures div img, .account-setting .setting-section .profile-pictures div img, .profile-settings .setting-section .header-images div img, .account-setting .setting-section .header-images div img {
  width: 100%;
  height: 100%;
  border-radius: 7px;
  -o-object-fit: cover;
     object-fit: cover;
}

.profile-settings .setting-section .profile-pictures .change-profile, .account-setting .setting-section .profile-pictures .change-profile, .profile-settings .setting-section .header-images .change-profile, .account-setting .setting-section .header-images .change-profile, .profile-settings .setting-section .header-images .change-header, .account-setting .setting-section .header-images .change-header {
  background-color: transparent;
  border: 1px dashed #bebebe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #bebebe;
  font-size: 0.8rem;
  cursor: pointer;
}

.profile-settings .setting-section .profile-pictures .error-message, .account-setting .setting-section .profile-pictures .error-message, .profile-settings .setting-section .header-images .error-message, .account-setting .setting-section .header-images .error-message {
  color: #dd3b40;
}

.profile-settings .setting-section .header-images, .account-setting .setting-section .header-images {
  margin-bottom: 0px;
}

.profile-settings .setting-section .header-images div, .account-setting .setting-section .header-images div {
  height: 130px;
  border-radius: 7px;
}

.profile-settings .setting-section .header-images div img, .account-setting .setting-section .header-images div img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 7px;
}

.profile-settings .setting-section .header-images .change-header, .account-setting .setting-section .header-images .change-header {
  width: 18%;
}

.profile-settings .setting-section .header-images .header, .account-setting .setting-section .header-images .header {
  width: 80%;
}

.profile-settings .setting-section form, .account-setting .setting-section form {
  margin-top: 20px;
}

.profile-settings .setting-section form input, .account-setting .setting-section form input,
.profile-settings .setting-section form textarea,
.account-setting .setting-section form textarea {
  margin-top: 10px;
  margin-bottom: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 0.8rem 1rem;
  border-radius: 7px;
  border: none;
  background-color: #f1f1f1;
  outline: none;
  font-family: 'Source Sans Pro';
  resize: none;
}

.profile-settings .setting-section form .bio-length, .account-setting .setting-section form .bio-length {
  font-weight: 600;
  margin-top: -10px;
  margin-bottom: 20px;
}

.profile-settings .setting-section form .save-btn, .account-setting .setting-section form .save-btn, .account-setting .setting-section form .delete-btn {
  padding: 0.8rem 1.8rem;
  font-weight: 700;
  border-radius: 7px;
  border: none;
  outline: none;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, right top, from(#ffc94b), to(#f17a7e));
  background: linear-gradient(90deg, #ffc94b 0%, #f17a7e 100%);
}

.profile-settings-dark .setting-section {
  border-bottom: 1px solid #222e40 !important;
}

.profile-settings-dark form input,
.profile-settings-dark form textarea {
  background-color: #222e40 !important;
  color: white;
}

.profile-settings-dark form input::-webkit-input-placeholder,
.profile-settings-dark form textarea::-webkit-input-placeholder {
  color: lightgray;
}

.profile-settings-dark form input:-ms-input-placeholder,
.profile-settings-dark form textarea:-ms-input-placeholder {
  color: lightgray;
}

.profile-settings-dark form input::-ms-input-placeholder,
.profile-settings-dark form textarea::-ms-input-placeholder {
  color: lightgray;
}

.profile-settings-dark form input::placeholder,
.profile-settings-dark form textarea::placeholder {
  color: lightgray;
}

.profile-settings-dark .themes .light-theme {
  background-color: white;
  color: black;
}

.profile-settings-dark .themes .dark-theme {
  border: 1px solid #becfe2 !important;
}

.account-setting .setting-section form #email-input {
  margin-bottom: 0px;
}

.account-setting .setting-section .danger-title {
  color: #dd3b40;
  font-weight: 700;
}

.account-setting .setting-section .delete-btn {
  background: #dd3b40 !important;
  color: white;
  margin-top: -15px;
}

.account-setting .error-message, .profile-settings .setting-section .header-images .account-setting .error-message, .account-setting .setting-section .header-images .error-message {
  color: #dd3b40;
  font-weight: 700;
  margin-top: -10px;
}

.account-setting-dark .setting-section {
  border-bottom: 1px solid #222e40 !important;
}

.account-setting-dark form input,
.account-setting-dark form textarea {
  background-color: #222e40 !important;
  color: white;
}

.account-setting-dark form input::-webkit-input-placeholder,
.account-setting-dark form textarea::-webkit-input-placeholder {
  color: lightgray;
}

.account-setting-dark form input:-ms-input-placeholder,
.account-setting-dark form textarea:-ms-input-placeholder {
  color: lightgray;
}

.account-setting-dark form input::-ms-input-placeholder,
.account-setting-dark form textarea::-ms-input-placeholder {
  color: lightgray;
}

.account-setting-dark form input::placeholder,
.account-setting-dark form textarea::placeholder {
  color: lightgray;
}
/*# sourceMappingURL=accountSettings.css.map */