@import '../../../index.scss';

.comments-container {
    padding: 3rem;
    width: 700px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    overflow: auto;
    background-color: white;
    // transition: 0.3s ease-in-out;

    .comment-box {
        padding: 1rem;
        border: 1px solid lightgray;
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;

        form {
            flex-basis: 90%;

            input {
                width: 100%;
                border: none;
                outline: none;
            }
        }

        svg {
            cursor: pointer;
            transform: scale(0.8);
        }
    }

    .comment {
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid lightgray;

        .comment-user-info {
            display: flex;
            align-items: center;

            .user-profile {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                margin-right: 15px;

                img {
                    height: 100%;
                    width: 100%;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }

            .user-name {
                display: inline-block;
                font-weight: bold;
            }

            .comment-date {
                margin-left: 15px;
                font-weight: 600;
                color: rgb(185, 185, 185);
            }
        }

        .comment-body {
            margin-top: 10px;
        }

        .comment-functions {
            margin-top: 10px;

            .like-comment {
                user-select: none;
                svg {
                    transform: scale(0.8) translateY(8px);
                    transition: 0.1s ease-in-out;

                    &:hover {
                        transform: scale(0.9) translateY(8px);
                    }

                    &:active {
                        transform: scale(0.7) translateY(8px);
                    }
                }

                .heart-filled {
                    svg {
                        fill: $red-dark;
                    }
                }

                &:hover {
                    cursor: pointer;
                }
            }

            .reply-comment {
                user-select: none;
                margin-left: 10px;
                font-weight: 600;
                color: rgb(185, 185, 185);

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}

.expanded-comment-container {
    right: 0px;
    box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.1);
}
