@import '../../../index.scss';

.comments-container {
    padding: 3rem;
    width: 700px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    overflow: auto;
    background-color: white;
    // transition: 0.3s ease-in-out;

    .comment-box {
        padding: 1rem;
        border: 1px solid lightgray;
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;

        form {
            flex-basis: 90%;

            input {
                width: 100%;
                border: none;
                outline: none;
            }
        }

        svg {
            cursor: pointer;
            transform: scale(0.8);
        }
    }

    .comment {
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid lightgray;
        display: flex;
        position: relative;

        .delete-comment {
            position: absolute;
            top: 0;
            right: 0;
            display: none;
            cursor: pointer;
            transform: scale(0.8);
        }

        &:hover {
            > .delete-comment {
                display: block;
            }
        }

        .comment-user-info {
            .user-profile {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                margin-right: 15px;

                img {
                    height: 100%;
                    width: 100%;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }
        }

        .comment-body {
            flex: 1;
            margin-top: -10px;

            .user-name {
                font-weight: bold;

                .author-icon {
                    svg {
                        fill: $blue-dark;
                        margin-left: 5px;
                        transform: scale(0.8) translateY(0.5rem);
                    }
                }
            }

            .comment-date {
                margin-left: 15px;
                font-weight: 600;
                color: rgb(185, 185, 185);
            }

            .comment-content {
                margin-top: 5px;
            }

            .comment-functions {
                margin-top: 10px;

                .like-comment {
                    user-select: none;
                    svg {
                        transform: scale(0.8) translateY(8px);
                        transition: 0.1s ease-in-out;

                        &:hover {
                            transform: scale(0.9) translateY(8px);
                        }

                        &:active {
                            transform: scale(0.7) translateY(8px);
                        }
                    }

                    .heart-filled {
                        svg {
                            fill: $red-dark;
                        }
                    }

                    &:hover {
                        cursor: pointer;
                    }
                }

                .reply-comment {
                    user-select: none;
                    margin-left: 10px;
                    font-weight: 600;
                    color: rgb(185, 185, 185);

                    &:hover {
                        cursor: pointer;
                    }
                }
            }

            .reply-textfield {
                margin-top: 20px;
                width: 100%;

                input {
                    outline: none;
                    width: 100%;
                    border: none;
                    padding-bottom: 0.5rem;
                    border-bottom: 1px solid lightgray;

                    &:focus {
                        border-bottom: 1px solid darkgray;
                    }
                }

                .reply-buttons {
                    width: 100%;
                    margin-top: 10px;
                    display: flex;
                    justify-content: flex-end;

                    .reply-submit-button {
                        padding: 0.5rem 1rem;
                        border: 1px solid black;
                        background-color: transparent;
                        font-weight: 600;
                        cursor: pointer;
                    }

                    .cancel-button {
                        border: none;
                        cursor: pointer;
                        background-color: transparent;
                        font-weight: 600;
                        margin-left: 10px;
                    }
                }
            }

            .show-all-replies {
                font-weight: 600;
                cursor: pointer;

                .down-arrow {
                    svg {
                        transform: scale(0.5) translateY(0.8rem);
                    }
                }
            }
        }

        &:last-child {
            border-bottom: none;
        }
    }

    .child-comment {
        @extend .comment;
    }
}

.comments-container-dark {
    background-color: $blue-dark;

    svg {
        fill: $dark-font;
    }

    .comment-box input {
        background-color: $blue-dark;
        color: white;
    }

    .comment {
        border-bottom: 1px solid $dark-font;

        .comment-content {
            color: white;
        }

        .author-icon svg {
            fill: $dark-font !important;
        }

        .reply-textfield {
            input {
                background-color: $blue-dark;
                color: white;
            }

            .reply-submit-button {
                color: $dark-font;
                border-color: $dark-font !important;
            }

            .cancel-button {
                color: $dark-font;
            }
        }
    }
}
