body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Source Sans Pro';
}

body .App {
  position: relative;
}

.comments-container {
  padding: 3rem;
  width: 700px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  overflow: auto;
  background-color: white;
}

.comments-container .comment-box {
  padding: 1rem;
  border: 1px solid lightgray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.comments-container .comment-box form {
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
}

.comments-container .comment-box form input {
  width: 100%;
  border: none;
  outline: none;
}

.comments-container .comment-box svg {
  cursor: pointer;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.comments-container .comment {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid lightgray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comments-container .comment .comment-user-info .user-profile {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 15px;
}

.comments-container .comment .comment-user-info .user-profile img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.comments-container .comment .comment-body {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-top: -10px;
}

.comments-container .comment .comment-body .user-name {
  font-weight: bold;
}

.comments-container .comment .comment-body .user-name .author-icon svg {
  fill: #151f2e;
  margin-left: 5px;
  -webkit-transform: scale(0.8) translateY(0.5rem);
          transform: scale(0.8) translateY(0.5rem);
}

.comments-container .comment .comment-body .comment-date {
  margin-left: 15px;
  font-weight: 600;
  color: #b9b9b9;
}

.comments-container .comment .comment-body .comment-content {
  margin-top: 5px;
}

.comments-container .comment .comment-body .comment-functions {
  margin-top: 10px;
}

.comments-container .comment .comment-body .comment-functions .like-comment {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.comments-container .comment .comment-body .comment-functions .like-comment svg {
  -webkit-transform: scale(0.8) translateY(8px);
          transform: scale(0.8) translateY(8px);
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.comments-container .comment .comment-body .comment-functions .like-comment svg:hover {
  -webkit-transform: scale(0.9) translateY(8px);
          transform: scale(0.9) translateY(8px);
}

.comments-container .comment .comment-body .comment-functions .like-comment svg:active {
  -webkit-transform: scale(0.7) translateY(8px);
          transform: scale(0.7) translateY(8px);
}

.comments-container .comment .comment-body .comment-functions .like-comment .heart-filled svg {
  fill: #dd3b40;
}

.comments-container .comment .comment-body .comment-functions .like-comment:hover {
  cursor: pointer;
}

.comments-container .comment .comment-body .comment-functions .reply-comment {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-left: 10px;
  font-weight: 600;
  color: #b9b9b9;
}

.comments-container .comment .comment-body .comment-functions .reply-comment:hover {
  cursor: pointer;
}

.comments-container .comment .comment-body .reply-textfield {
  margin-top: 20px;
  width: 100%;
}

.comments-container .comment .comment-body .reply-textfield input {
  outline: none;
  width: 100%;
  border: none;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid lightgray;
}

.comments-container .comment .comment-body .reply-textfield input:focus {
  border-bottom: 1px solid darkgray;
}

.comments-container .comment .comment-body .reply-textfield .reply-buttons {
  width: 100%;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.comments-container .comment .comment-body .reply-textfield .reply-buttons .reply-submit-button {
  padding: 0.5rem 1rem;
  border: 1px solid black;
  background-color: transparent;
  font-weight: 600;
  cursor: pointer;
}

.comments-container .comment .comment-body .reply-textfield .reply-buttons .cancel-button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-weight: 600;
  margin-left: 10px;
}

.comments-container .comment .comment-body .show-all-replies {
  font-weight: 600;
  cursor: pointer;
}

.comments-container .comment .comment-body .show-all-replies .down-arrow svg {
  -webkit-transform: scale(0.5) translateY(0.8rem);
          transform: scale(0.5) translateY(0.8rem);
}
/*# sourceMappingURL=comments.css.map */