@import '../../../index.scss';

.recommendations {
    padding: 0.7rem 0rem;
    padding-left: 1.5rem;
    border-left: 1px solid black;

    h2 {
        margin-top: 0;
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 50px;
    }

    .users {
        .user {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 40px;

            .user-container {
                display: flex;
                align-items: center;
                justify-content: center;

                .user-profile {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    background-color: teal;
                    margin-right: 10px;
                }

                .user-info {
                    .user-name {
                        font-weight: 700;
                    }
                }
            }

            .follow-btn {
                border: none;
                background-color: transparent;
                outline: none;
                font-weight: 700;
                cursor: pointer;
            }

            &:last-child {
                margin-bottom: 0px;
            }
        }
    }
}
