.blogs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-column-gap: 50px;

    .blog::before {
        content: '';
        display: block;
        height: 1px;
        width: 70px;
        background-color: rgb(204, 204, 204);
        margin-bottom: 40px;
    }

    .blog:first-child::before,
    .blog:nth-child(2)::before {
        display: none;
    }
}
