@import '../../index.scss';

.explore {
    width: 1200px;
    margin: auto;
    margin-top: 70px;

    .topics-showcase {
        display: flex;
        justify-content: space-between;
        overflow-x: scroll;
        -ms-overflow-style: none;
        border-bottom: 1px solid black;
        padding-bottom: 1rem;

        .topic {
            margin-right: 55px;
            opacity: 0.5;

            .topic-image {
                border-radius: 9px;
                height: 65px;
                width: 130px;
                cursor: pointer;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 7px;
                }
            }

            .topic-title {
                margin-top: 10px;
                width: 130px;
                text-align: center;
                font-weight: bold;
            }
        }

        .selected-topic {
            opacity: 1;

            .topic-image {
                img {
                    opacity: 1;
                }
            }
        }

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .explore-function {
        margin-top: 2rem;
        display: flex;

        .function-btn {
            padding: 0.5rem 1rem;
            border: 1px solid black;
            background-color: transparent;
            font-weight: bold;
            border-radius: 7px;
            cursor: pointer;
            margin-right: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;

            svg {
                transform: scale(0.8);
                margin-right: 5px;
            }
        }

        select {
            padding: 0.5rem 1rem;
            border-radius: 7px;
            border: 1px solid black;
            font-weight: bold;
            outline: none;
        }

        .selected-function-btn {
            border: 1px solid $yellow-primary;
            background-color: $yellow-primary;
        }

        .follow-topic-btn {
            @extend .function-btn;
            margin-right: 0;
            margin-left: auto;
        }
    }

    .blogs {
        margin-top: 80px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-column-gap: 50px;
    }
}

.explore-dark {
    color: $dark-font;

    svg {
        fill: $dark-font;
    }

    .topics-showcase {
        border-bottom-color: $dark-font;
    }

    .function-btn {
        color: $dark-font;
        border: 1px solid $dark-font !important;
    }

    .follow-topic-btn {
        @extend .function-btn;
    }

    .selected-function-btn {
        color: black;
        border: 1px solid $yellow-primary !important;

        svg {
            fill: black;
        }
    }
}
