body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Source Sans Pro';
}

body .App {
  position: relative;
  min-height: 100vh;
}

body .App-dark {
  background-color: #151f2e;
  color: #becfe2;
}

.explore {
  width: 1200px;
  margin: auto;
  margin-top: 70px;
}

.explore .topics-showcase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow-x: scroll;
  -ms-overflow-style: none;
  border-bottom: 1px solid black;
  padding-bottom: 1rem;
}

.explore .topics-showcase .topic {
  margin-right: 55px;
  opacity: 0.5;
}

.explore .topics-showcase .topic .topic-image {
  border-radius: 9px;
  height: 65px;
  width: 130px;
  cursor: pointer;
}

.explore .topics-showcase .topic .topic-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 7px;
}

.explore .topics-showcase .topic .topic-title {
  margin-top: 10px;
  width: 130px;
  text-align: center;
  font-weight: bold;
}

.explore .topics-showcase .selected-topic {
  opacity: 1;
}

.explore .topics-showcase .selected-topic .topic-image img {
  opacity: 1;
}

.explore .topics-showcase::-webkit-scrollbar {
  display: none;
}

.explore .explore-function {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.explore .explore-function .function-btn, .explore .explore-function .follow-topic-btn {
  padding: 0.5rem 1rem;
  border: 1px solid black;
  background-color: transparent;
  font-weight: bold;
  border-radius: 7px;
  cursor: pointer;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.explore .explore-function .function-btn svg, .explore .explore-function .follow-topic-btn svg {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  margin-right: 5px;
}

.explore .explore-function select {
  padding: 0.5rem 1rem;
  border-radius: 7px;
  border: 1px solid black;
  font-weight: bold;
  outline: none;
}

.explore .explore-function .selected-function-btn {
  border: 1px solid #ffc94b;
  background-color: #ffc94b;
}

.explore .explore-function .follow-topic-btn {
  margin-right: 0;
  margin-left: auto;
}

@media screen and (max-width: 700px) {
  .explore .explore-function {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .explore .explore-function button,
  .explore .explore-function select {
    margin-bottom: 20px;
    width: 100%;
  }
}

.explore .blogs {
  margin-top: 80px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 50px;
}

@media screen and (max-width: 1300px) {
  .explore {
    width: 80%;
  }
}

.explore-dark {
  color: #becfe2;
}

.explore-dark svg {
  fill: #becfe2;
}

.explore-dark .topics-showcase {
  border-bottom-color: #becfe2;
}

.explore-dark .function-btn, .explore-dark .explore .explore-function .follow-topic-btn, .explore .explore-function .explore-dark .follow-topic-btn, .explore-dark .follow-topic-btn {
  color: #becfe2;
  border: 1px solid #becfe2 !important;
}

.explore-dark .selected-function-btn {
  color: black;
  border: 1px solid #ffc94b !important;
}

.explore-dark .selected-function-btn svg {
  fill: black;
}
/*# sourceMappingURL=explore.css.map */